h1 {
    text-align: center;
    color: seagreen;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#parrafo {
    color: fuchsia;
    text-align: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}